* {
  margin: 0;
  padding: 0;
 }

.page {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  background-color: #2A2C2F;
  text-decoration: none;
  padding: 28px 0 24px;
}