.cover__subtitle {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  padding: 0;
  max-width: 360px;
  max-height: 66px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 1.13rem;
  line-height: 1.38rem;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 32px;
}

@media screen and (min-width: 1024px) and (max-width: 1279.98px) {
  .cover__subtitle {
    max-width: 35.16%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .cover__subtitle {
    max-width: 46.8%;
  }
}

@media screen and (max-width: 767.98px) {
  .cover__subtitle {
    max-width: 90%;
    font-size: 0.88rem;
    line-height: 1rem;
    margin-top: 16px;
  }
}
