.cover__subtitle {
  display: flex;
  position: relative;
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 30.4%;
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 1.13rem;
  line-height: 1.37rem;
  text-align: center;
  z-index: 3;
  margin: 32px auto 245px;
}

@media screen and(min-width:1024px) and(max-width:1279.98px) {
  .cover__subtitle {
    max-width: 35.16%;
  }
}
@media screen and(min-width:768px) and(max-width:1023.98px) {
  .cover__subtitle {
    max-width: 46.8%;
  }
}
@media screen and(max-width:767.98px) {
  .cover__subtitle {
    max-width: 90%;
    font-size: 0.88rem;
    line-height: 1rem;
    margin-top: 16px;
  }
}
