.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1184px;
  width: 100%;
  min-height: 52px;
  margin: 0 auto 56px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 90.6%;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 90%;
  }
}
