.footer__link {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  justify-items: start;
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .footer__link {
    width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__link {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.13rem;
  }
}
