.lead__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  padding: 0;
  max-width: 720px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 6.25rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 77.6%;
  }
}

@media screen and (max-width: 930px) {
  .lead__title {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 740px) {
  .lead__title {
    max-width: 90%;
    font-size: 4.5rem;
    line-height: 4.75rem;
  }
}

@media screen and (max-width: 495px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-bottom: 16px;
  }
}