.place__paragraph {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2 / 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: min(100%, 484px);
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-object-fit: cover;
  object-fit: cover;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 1.13rem;
  line-height: 1.81rem;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 1.63rem;
  }
}

@media screen and (max-width: 740px) {
  .place__paragraph {
    max-width: 90%;
    margin: 0 auto;
  }
}