.cover__title {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-block: 0;
  margin-inline: 0;
  padding: 0;
  max-width: 47.3%;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 245px auto 0;
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 54.7%;
    margin: 195px auto 0;
  }
}

@media screen and (max-width: 930px) {
  .cover__title {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 72.9%;
    margin: 115px auto 0;
  }
}

@media screen and (max-width: 740px) {
  .cover__title {
    max-width: 90%;
  }
}
@media screen and (max-width: 580px) {
  .cover__title {
    font-size: 2rem;
    line-height: 2.19rem;
    margin: 33px auto 0;
  }
}