.place {
  display: -ms-grid;
  display: grid;
  grid: -webkit-min-content minmax(46.7%, 460px) / minmax(46.7%, 460px) min(
      100%,
      484px
    );
  grid: min-content minmax(46.7%, 460px) / minmax(46.7%, 460px) min(100%, 484px);
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  padding: 0;
  max-width: 984px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid: -webkit-min-content minmax(47.4%, 440px) / minmax(47.4%, 440px) minmax(
        49.1%,
        456px
      );
    grid: min-content minmax(47.4%, 440px) / minmax(47.4%, 440px) minmax(
        49.1%,
        456px
      );
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 910px) {
  .place {
    grid: -webkit-min-content minmax(47.2%, -webkit-max-content) / minmax(
        47.2%,
        340px
      ) minmax(48.8%, 352px);
    grid: min-content minmax(47.2%, max-content) / minmax(47.2%, 340px) minmax(
        48.8%,
        352px
      );
  }
}

@media screen and (max-width: 768px) {
  .place {
    -webkit-column-gap: 28px;
    -moz-column-gap: 28px;
    column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 530px) {
  .place {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
    margin-bottom: 50px;
    gap: 32px;
  }
}
