.footer {
    margin-block: 0;
    margin-inline: 0;
    display: grid;
    box-sizing: border-box;
    max-width: 1184px;
    max-height: 18px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}