.place__url-heading {
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
  -ms-flex-item-align: left;
  -ms-grid-row-align: left;
  -webkit-align-self: left;
  align-self: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #aaaaaa;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 0.75rem;
  }
}
