.place__website {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1 / 2;
  width: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  align-self: end;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 740px) {
  .place__website {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }
}
