.intro__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  padding: 0;
  max-width: 690px;
  -ms-flex-item-align: left;
  -ms-grid-row-align: left;
  -webkit-align-self: left;
  align-self: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 3.38rem;
  line-height: 3.63rem;
  margin-bottom: 40px;
}
@media screen and(min-width:320.98px) and(max-width:1279.98px) {
  .intro__title {
    width: 100%;
  }
}
@media screen and(max-width:320px) {
  .intro__title {
    width: 100%;
    font-size: 2rem;
    line-height: 2.19rem;
  }
}
